<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controllers.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsLoginServlet</servlet-name>
        <servlet-class>controllers.StudentsLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentViewBooks</servlet-name>
        <servlet-class>controllers.StudentViewBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestBooksServlet</servlet-name>
        <servlet-class>controllers.RequestBooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsLoginServlet</servlet-name>
        <url-pattern>/StudentsLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentViewBooks</servlet-name>
        <url-pattern>/StudentViewBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestBooksServlet</servlet-name>
        <url-pattern>/RequestBooksServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>admin_username</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>admin_password</param-name>
        <param-value>admin@tut</param-value>
    </context-param>
    <context-param>
        <param-name>student_username</param-name>
        <param-value>student</param-value>
    </context-param>
    <context-param>
        <param-name>student_password</param-name>
        <param-value>stud@tut</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
